---
import LayoutIndex from "../layouts/LayoutIndex.astro";
import LayoutCards from "../layouts/LayoutCards.astro";
import CardMenu from "../components/CardMenu.astro";
---

<LayoutIndex title="Menu LoloBelo">
  <main>
    <LayoutCards>
      <!-- Recomending Section -->
      <CardMenu
        slot="recommending"
        title="Suprema"
        priceOne="18.00"
        priceSecond="35.00"
        route="../public/suprema.webp"
        altImg="Suprema"
        description="Queso Mozarella, Salsa, Jamón, Pepperoni, Champiñones, Cebolla Blanca, Trozos de Carne."
      />
      <CardMenu
        slot="recommending"
        title="La Continental"
        priceOne="18.00"
        priceSecond="35.00"
        route="./continental.webp"
        altImg="LaContinental"
        description="Queso Mozarella, Salsa, Jamón, Salame, Tiritas de Tocino, Carne, Queso Doble."
      />
      <CardMenu
        slot="recommending"
        title="Full Cabanossi"
        priceOne="16.00"
        priceSecond="32.00"
        route="./cabonossi.webp"
        altImg="FullCabanossi"
        description="Queso Mozarella, Salsa, Jamón, Lomito Ahumado, Palitos de Cabanossi."
      />
      <CardMenu
        slot="recommending"
        title="De La Casa"
        priceOne="18.00"
        priceSecond="35.00"
        route="./delacasa.webp"
        altImg="DeLaCasa"
        description="Queso Mozarella, Salsa, Jamón, Salame, Pepperoni, Lomito Ahumado, Queso Doble."
      />
      <CardMenu
        slot="recommending"
        title="Tradicional De Pollo"
        priceOne="16.00"
        priceSecond="32.00"
        route="./tradicionaldepollo.webp"
        altImg="TradicionalDePollo"
        description="Queso Mozarella, Salsa, Jamón, Tocino, Pollo, Desmenuzado, Queso Doble."
      />

      <!-- Classic Section -->
      <CardMenu
        slot="classic"
        title="Pepperoni"
        priceOne="14.00"
        priceSecond="26.00"
        route="./americana.webp"
        altImg="Pepperoni"
        description="Queso Mozarella, Salsa, Rodajas de Pepperoni."
      />
      <CardMenu
        slot="classic"
        title="La Perucha"
        priceOne="14.00"
        priceSecond="25.00"
        route="./americana.webp"
        altImg="LaPerucha"
        description="Queso Mozarella, Salsa, Hot Dog Ahumado."
      />
      <CardMenu
        slot="classic"
        title="Americana Especial"
        priceOne="14.00"
        priceSecond="25.00"
        route="./americana.webp"
        altImg="AmericanaEspecial"
        description="Queso Mozarella, Salsa, Jamón Inglés."
      />
      <CardMenu
        slot="classic"
        title="Italiana"
        priceOne="14.00"
        priceSecond="25.00"
        route="./americana.webp"
        altImg="Italiana"
        description="Queso Mozarella, Salsa, Salame."
      />

      <!-- Specials Section -->
      <CardMenu
        slot="specials"
        title="Brasilera"
        priceOne="16.00"
        priceSecond="32.00"
        route="./americana.webp"
        altImg="Brasilera"
        description="Queso Mozarella, Salsa, Jamón, Lomito Ahumado, Tiritas de Tocino."
      />
      <CardMenu
        slot="specials"
        title="Napolitana"
        priceOne="13.00"
        priceSecond="24.00"
        route="./americana.webp"
        altImg="Napolitana"
        description="Queso Mozarella, Salsa, Jamón, Cebolla Blanca, Rojadas de Tomate, Salsa Especial."
      />
      <CardMenu
        slot="specials"
        title="Super Hawaiana"
        priceOne="16.00"
        priceSecond="30.00"
        route="./americana.webp"
        altImg="SuperHawaiana"
        description="Queso Mozarella, Salsa, Jamón, Trozos de Piña, Gajos de Durazno, Doble Queso."
      />
      <CardMenu
        slot="specials"
        title="Hawaiana"
        priceOne="14.00"
        priceSecond="26.00"
        route="./americana.webp"
        altImg="Hawaiana"
        description="Queso Mozarella, Salsa, Jamón, Trozos de Piña."
      />
      <CardMenu
        slot="specials"
        title="Caribeña"
        priceOne="16.00"
        priceSecond="30.00"
        route="./americana.webp"
        altImg="Caribeña"
        description="Queso Mozarella, Salsa, Jamón, Salame, Trozos de Piña, Doble Queso."
      />
      <CardMenu
        slot="specials"
        title="Vegetariana"
        priceOne="14.00"
        priceSecond="26.00"
        route="./americana.webp"
        altImg="Vegetariana"
        description="Queso Mozarella, Salsa, Champiñones, Aceitunas, Cebolla Blanca."
      />
    </LayoutCards>
  </main>
</LayoutIndex>

<style>
  main {
    padding: 0rem 1rem;
  }

  @media (width <= 400px) {
    main {
      padding: 0rem 0.5rem;
    }
  }
</style>