---
console.log("asd")
---

<div>
  <a href="/menuLoloBelo">
    Ver carta
    
    <svg 
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 12l14 0" />
      <path d="M13 18l6 -6" />
      <path d="M13 6l6 6" />
    </svg>
  </a>
</div>

<style>
  :root {
    --color-primary: #ea3333
  }

  a {
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 1rem;
    width: 12.5rem;
    height: 4rem;
    
    line-height: normal;
    font-size: 1.5em;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.4s ease-out, color 0.4s ease-out, transform 0.2s ease-out, box-shadow 0.4s ease-out;
    &:hover {
      color: black;
      border: 3px solid var(--color-primary);
      background-color: white;
      transform: translateY(-5px);
    }
    &:active {
      transform: scale(1) translateY(5px);

    }

    & svg {
      width: auto;
      margin-left: 0.5rem;
      margin-bottom: 3px;
    }
  }
</style>