---

---

<div>
  <slot />
</div>

<style>
  div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(3.5rem ,5vw, 15rem);
  }
</style>